* {
  box-sizing: border-box;
}

.ditesi .contenedorDitesi {
  height: 100%;
  /*background-color: red;*/
  background-image: url(fondo2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

.ditesi .contenedorCabecera {
  width: 100%;
  margin-bottom: 20px;
  /*background-color: #eee;*/
}

.ditesi .titulos {
  margin-right: 20px;
  font-size: 30px;
  /*font-family: 'Chau Philomene One', sans-serif;*/

}

.ditesi .subTitulos {
  /*background: red;*/
  width: 70%;
  border-bottom: 1px solid #ddd;
  padding-left: 30px;
  margin-top: 20px;
}



.ditesi .contenedorLogos {
  margin: 10px 0 20px 0;
}

.ditesi .logoFCE {
  margin: 10px;
}


.ditesi .contenedorSistemas {
  display: flex;
  flex-wrap: wrap;
  /*background-color: red;*/
  width: 70%;
  padding: 10px 20px 10px 20px;
}

.ditesi .btnSistema {
  display: flex;
display: -webkit-flex;
display: -moz-flex;
flex-direction: column;
-webkit-flex-direction: column;
-moz-flex-direction: column;
align-items: center;
-webkit-align-items: column;
-moz-align-items: column;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 42px;
  border: 2px solid #ECECEC;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  margin: 10px;
  color: #5c5f69;
  background-color: #eeeeee;
  width: 130px;
}

.btn1 {
  border-bottom: 3px solid #0493cf !important;
}

.btn1:hover {
  background-color: #0493cf;
  border: 2px solid #0493cf;
  color: white;
}

.btn2 {
  border-bottom: 3px solid #EC9122 !important;
}

.btn2:hover {
  background-color: #EC9122;
  border: 2px solid #EC9122;
  color: white;
}

.btn3 {
  border-bottom: 3px solid #92AD17 !important;
}

.btn3:hover {
  background-color: #92AD17;
  border: 2px solid #92AD17;
  color: white;
}

.btn4 {
  border-bottom: 3px solid #0066A6 !important;
}

.btn4:hover {
  background-color: #0066A6;
  border: 2px solid #0066A6;
  color: white;
}

.btn5 {
  border-bottom: 3px solid #E43E46 !important;
}

.btn5:hover {
  background-color: #E43E46;
  border: 2px solid #E43E46;
  color: white;
}

.btn6 {
  border-bottom: 3px solid #28292D !important;
}

.btn6:hover {
  background-color: #28292D;
  border: 2px solid #28292D;
  color: white;
}

.btn7 {
  border-bottom: 3px solid #804080 !important;
}

.btn7:hover {
  background-color: #804080;
  border: 2px solid #804080;
  color: white;
}

.btn8 {
  border-bottom: 3px solid #128C78 !important;
}

.btn8:hover {
  background-color: #128C78;
  border: 2px solid #128C78;
  color: white;
}

.btn9 {
  border-bottom: 3px solid #c920c6 !important;
}

.btn9:hover {
  background-color: #c920c6;
  border: 2px solid #c920c6;
  color: white;
}

.btn10 {
  border-bottom: 3px solid #00BCD4 !important;
}

.btn10:hover {
  background-color: #00BCD4;
  border: 2px solid #00BCD4;
  color: white;
}

.btn11 {
  border-bottom: 3px solid #571845 !important;
}

.btn11:hover {
  background-color: #571845;
  border: 2px solid #571845;
  color: white;
}

.btn12 {
  border-bottom: 3px solid #FF5733 !important;
}

.btn12:hover {
  background-color: #FF5733;
  border: 2px solid #FF5733;
  color: white;
}

.btn13 {
  border-bottom: 3px solid #A90271 !important;
}

.btn13:hover {
  background-color: #A90271;
  border: 2px solid #A90271;
  color: white;
}

.btn14 {
  border-bottom: 3px solid #5c5f69 !important;
}

.btn14:hover {
  background-color: #5c5f69;
  border: 2px solid #5c5f69;
  color: white;
}

.btn15 {
  border-bottom: 3px solid #4f6f87 !important;
}

.btn15:hover {
  background-color: #4f6f87;
  border: 2px solid #4f6f87;
  color: white;
}




@media screen and (max-width: 720px) {
  .ditesi .contenedorSistemas {
    width: 100%;
    padding: 20px;
  }

  .ditesi .subTitulos {
    width: 100%;

  }

}
